@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body,html{
	background-color: ghostwhite;
	color: darkslategray;
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	font-size: 2.5vh;
	overflow-x: hidden;
}
.heading {
	background: linear-gradient(to right, #33D089, #1B95BC);
	height: 40vh;
	width: 100vw;
	color: white;
}
.sml {
	height: 20vh;	
}
.title {
	position: relative;
	margin-top: 0;
	font-weight: bolder;
	font-size: 9vh;
	margin-bottom: 0;
}
.heading-wrapper {
	position: absolute;
	top: 2vh;
	display: block;
	width: 100vw;
}
.subtitle {
	font-size: 5vh;
	font-weight: 200;
	color: rgba(255,255,255,0.89);
	margin-bottom: 5vh;
	margin-top: 3vh;
}
.body {
	width: 100vw;
	margin-top: 2vh;
}
.heading-link {
	background-color: rgba(255,255,255,0.08);
	text-decoration: none;
	color: rgba(255,255,255,0.7);
	padding: 1.7vh 1.5vw;
	border-style: solid;
	border-radius: 4.8px;
	border-width: 1px;
	border-color: rgba(255,255,255,0.2);
	box-sizing: border-box;
	margin: 0 0.2vw;
	font-size: 3vh;
}
.heading-link:hover {
	background-color: rgba(255,255,255,0.2);
}
.body {
	width: 50vw;
	text-align: left;
	margin-top: 5vh;
	margin-bottom: 10vh;
}
.body * {
	text-align: left;
	margin: 3vh 0;
}
.body-h1 {
	font-size: 6vh;
	color: #159957;
}
.body-h2 {
	font-size: 4.2vh;
	color: #159957;
}
.body-ul {
	margin-top: 0;
}
.body-ul li {
	margin: 1vh 0;
}
.body-p-light {
	color: grey;
}
.i {
	font-style: italic;
}
.body-link {
	text-decoration: none;
	color: #1e6bb8;	
}
.body-link:hover {
	text-decoration: underline;
}
.body-h3 {
	font-size: 3vh;
	color: #159957;
}
form * {
	display: block;
}
input[type="text"], input[type="email"] {
	padding: 1.5vh 2.5vw;
	outline: none;
	background-color: transparent;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 3px;
}
textarea {
	width: 21vw;
	height: 20vh;
	outline: none;
	background-color: transparent;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 3px;	
}
input[type="submit"]{
	background-color: transparent;
	border-style: solid;
	padding: 1.5vh 2.5vw;
	color: darkslategray;
	border-color: grey;
	border-width: 1px;
	border-radius: 3px;
	transition: 0.2s ease-in-out;
}
input[type="submit"]:hover{
	background-color: darkslategrey;
	color: whitesmoke;
}